<launch>

    <arg name="confidence_threshold" default="" doc="candidate matches with confidence lower that this threshold are not published"/>
    <arg name="confidence_scaling_factor" default="" doc="factor scaling how quickly the estimated confidence drops as the distance between the matched face and body increases"/>

    <node name="hri_face_body_matcher" pkg="hri_face_body_matcher" type="match" output="screen">
        <param name="confidence_threshold" value="$(arg confidence_threshold)" type="double" unless="$(eval arg ('confidence_threshold') == '')"/>
        <param name="confidence_scaling_factor" value="$(arg confidence_scaling_factor)" type="double" unless="$(eval arg ('confidence_scaling_factor') == '')"/>
    </node>

</launch>
